<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="dns-prefetch" href="//ajax.googleapis.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta name="robots" content="noindex" />
    <title>Epsilon Manager Tablet</title>
		<link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <%= stylesheet_link_tag 'admin/application', :media => 'all' -%>
    <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js', '//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js' %>
    <%= javascript_include_tag 'admin/application' -%>
    
    <%= csrf_meta_tag %>
  </head>
  
  <body id="<%= @body_id -%>">
    
		<%= render :partial => '/admin/shared/navbar' -%>

    <div class="container-fluid">
			<div class="row-fluid">
				<div id="main" class="span8">
					<%= render :partial => '/admin/shared/flash_message' -%>
					<%= yield %>
				</div>
				<div id="sidebar" class="span4">
					<%= render :partial => '/admin/shared/menu' -%>
				</div>
			</div>
		</div>
		
		<%= render :partial => '/admin/shared/footer' -%>

		<%= yield :javascripts -%>


  </body>
</html>
