<nav class="clearfix" id="eight_sprite">
<ul>
  <li class="ir" id="home_8"><%= link_to "Home", "/categories.html" %></li>
  <li class="ir" id="grow_8"><%= link_to "Grow Our Skills", "/growing/index.html" %></li>
  <li class="ir" id="fuel_8"><%= link_to "Fuel Our Associates Careers", "/fueling/index.html" %></li>
  <li class="ir" id="expectations_8"><%= link_to "Set clear, high measurable expectations", "/setting/index.html" %></li>
  <li class="ir" id="coach_8"><%= link_to "Coach Teams", "/coaching/index.html" %></li>
  <li class="ir" id="balance_8"><%= link_to "Balance Leading and Doing", "/balance/index.html" %></li>
  <li class="ir" id="create_8"><%= link_to "Create a Great Place to Work", "/creating/index.html" %></li>
  <li class="ir" id="discover_8"><%= link_to "Discover More Resources", "/finding.html" %></li>
</ul>
</nav>
